<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz" lang="en"
      layout:decorate="basic"
>
<head>
<title>Accueil</title>
</head>
<body>
       <div layout:fragment="content">
             <div class="d-flex">
                   <div class="col-md-4 offset-1">
                         <div class="card bg-light mb-1 mt-3">
                               <div class="card-heading bg-primary text-center text-white liens">Identite</div>
                               <div class="card-body">
                                     <div class="liens">
		                                 <label >Raison Sociale:</label>
		                                 <label  style="font-weight:bold" >OGIVE SAS</label>
	                                 </div>
	                                 <div class="liens">
		                                 <label>Numero Unique:</label>
		                                 <label  style="font-weight:bold">M091612571014S</label>
	                                 </div>
	                                 <div >
		                                 <label class="liens">Email:</label>
		                                 <label  style="font-weight:bold" >siogivesas@gmail.com</label>
	                                 </div>
	                                 <div class="liens">
		                                 <label>Boite Postale:</label>
		                                 <label  style="font-weight:bold" >5253  Yaounde-Cameroun</label>
	                                 </div>
	                                 <div class="liens">
		                                 <label>Adresse:</label>
		                                 <label  style="font-weight:bold" >Nlle route Bastos , Rue 1839</label>
	                                 </div>
                               </div>
                         </div>
                   </div>
                   <div class="col-md-5 offset-1">
                         <div class="card bg-light mb-3 mt-3">
                               <div class="card-heading bg-primary text-center text-white card-title">Identite</div>
                               <div class="card-body">
                               </div>
                         </div>
                   </div>
             </div>
             <div class="d-flex">
                   <div class="col-md-10 offset-1">
                         <div class="card bg-light mb-3 mt-1">
                               <div class="card-heading bg-primary text-center text-white card-title">Recapitulatif des factures journalieres</div>
                               <div  class="text-success" th:if="${message}"  th:text="${message}">
	                             
                                 </div>
                               <div class="card-body">
                                     <form th:action="@{searchInvoice}" method="get">
                                            <fieldset>
							                    <legend>Recherche</legend>
							                       <div class="col-md-3 ">							                        
							                          <div class="d-flex flex-row mb-3">							                     
							                              <div style="margin-right:5px;">
							                                  <label for="createAt"  class="form-label">Date:</label>
							                              </div>
							                              <div style="margin-right:5px;">
							                                  <input type="date" class="form-control" id="createAt" name="createAt" th:value="${createAt}" >
							                              </div>
							                              <div>
							                                  <button type="submit" class="btn btn-primary rounded">
							                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                                       <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                                                       </svg>
							                                  </button>
							                              </div>						                              
							                        </div>
							                     </div>
                                            </fieldset>
                                     </form>
                                            <fieldset>
                                                    <legend>Resultats</legend>
                                                       <table class="table table-bordered text-center sous-liens table-striped">
                                                            <thead style="background-color:#ebebeb;">
						                                       <tr class="header-footer-background-color text-white">
						                                          <th>Date</th><th>Nature Prestation</th><th>Prestataire</th><th>Montant (f cfa)</th><th colspan="2">Actions</th>
						                                       </tr>
						                                    </thead>
						                                    <tbody>
						                                           <tr th:if="${invoices.empty}">
						                                                <td colspan="3">Aucune facture trouvée...!!!</td>
					                                               </tr>
					                                               <tr th:each="invoice: ${invoices}">
					                                                   <td th:text="${invoice.createAt}" class="align-middle"></td>
						                                               <td th:text="${invoice.allowance.allowanceName}" class="align-middle"></td>
						                                               <td th:text="${invoice.contractor.name}" class="align-middle"></td>
						                                               <td th:text="${invoice.amount}" class="align-middle"></td>
						                                               <td class="d-flex special1">
						                                                   <div class="custom-cell1">
						                                                         <a class="btn btn-info" th:href="@{/editInvoice(id=${invoice.invoiceId},page=${currentPage})}">
						                                                             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
						                                                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						                                                             </svg>
						                                                         </a>
						                                                   </div>
						                                                   <div class="custom-cell1">
						                                                         <a  onclick="javascript:return confirm('Etes vous certain de vouloir supprimer?')"  class="btn btn-danger" th:href="@{/deleteInvoice(id=${invoice.invoiceId},page=${currentPage})}">
						                                                             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
						                                                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
																			              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
						                                                             </svg>
						                                                         </a>
						                                                   </div>
						                                               </td>
					                                               </tr>
						                                    </tbody>
                                                    </table>
                                                    <div class="container">
                                                          <ul class="nav nav-pills">
                                                               <li th:each="p,status:${pages}" class="btn-sm btn-info ms-1">
                                                                    <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
							                                             th:href="@{/index(page=${status.index})}"  
							                                             th:text="${status.index}">
                                                                    </a>
                                                               </li>
                                                          </ul>
                                                    </div>
                                            </fieldset>
                               </div>
                         </div>
                   </div>
             </div>
       </div>
</body>
</html>