<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz" lang="en"
     layout:decorate="basic"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
<title>Prestataires</title>
</head>
<body>
      <div layout:fragment="content">
                <div class="d-flex">
                   <div class="col-md-10 offset-1">
                         <div class="card bg-light mb-3 mt-1">
                               <div class="card-heading bg-primary text-center text-white card-title">Nos Prestataires</div>
                               <div class="card-body">
                                       <div th:with="test = ${message}">
                                          <div class="col-md-6 offset-3" th:if="${test}">                            
										      <div class="alert alert-warning alert-dismissible fade show" role="alert">
												  <div  class="text-success" th:if="${message}"  th:text="${message}">			                            
	                                              </div> 
												  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							                   </div>
							                </div>
							                <div th:unless="${message}">
				                            </div>
									    </div>
                                            <fieldset class="form-group border p-3 mt-3">
                                                       <table class="table table-bordered text-center sous-liens table-striped">
                                                            <thead style="background-color:#ebebeb;">
						                                       <tr class="header-footer-background-color text-white">
						                                          <th>Nom</th><th>Email</th><th>Immatriculation</th><th>Telephone</th><th sec:authorize="hasRole('ROLE_ACCOUNTANT')" colspan="2">Actions</th>
						                                       </tr>						                                       
						                                    </thead>
						                                    <tbody>
						                                           <tr th:if="${contractors.empty}">
						                                                <td colspan="3">Aucune prestataire trouvé...!!!</td>
					                                               </tr>
					                                               <tr th:each="contractor: ${contractors}">
					                                                   <td th:text="${contractor.name}" class="align-middle"></td>
						                                               <td th:text="${contractor.email}" style="font-size:16px;text-transform:none;" class="align-middle"></td>
						                                               <td th:text="${contractor.taxPayerNumber}" class="align-middle"></td>
						                                               <td th:text="${contractor.phoneNumber}" class="align-middle"></td>
						                                               <td class="align-middle"  sec:authorize="hasRole('ROLE_ACCOUNTANT')">
						                                                   
						                                                         <a class="btn btn-info text-align" th:href="@{/editContractor(id=${contractor.companyId},page=${currentPage})}">
						                                                             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
						                                                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						                                                             </svg>
						                                                         </a>
						                                                   					                                                   
						                                               </td>
					                                               </tr>
						                                    </tbody>
                                                    </table>
                                                    <div class="container">
                                                          <ul class="nav nav-pills">
                                                               <li th:each="p,status:${pages}" class="btn-sm btn-info ms-1">
                                                                    <a th:class="${status.index==currentPage-1?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
							                                             th:href="@{/prestataires(page=${status.index+1})}"  
							                                             th:text="${status.index+1}">
                                                                    </a>
                                                               </li>
                                                          </ul>
                                                    </div>
                                            </fieldset>
                               </div>
                         </div>
                   </div>
             </div>
      </div>
</body>
</html>