<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz" lang="en"
     layout:decorate="basic"
>
<head>
<title>Prestations</title>
</head>
<body>
         <div layout:fragment="content">
                <div class="d-flex">
                   <div class="col-md-8 offset-2">
                         <div class="card bg-light mb-3 mt-1">
                               <div class="card-heading bg-primary text-center text-white card-title">Nos Prestations</div>
                               <div class="card-body">
                                 
                                            <fieldset class="form-group border p-3 mt-3">
                                                       <table class="table table-bordered text-center sous-liens">
                                                            <thead style="background-color:#ebebeb;">
						                                       <tr class="header-footer-background-color text-white">
						                                          <th>ID</th><th>Nature de la prestation</th><th>Actions</th>
						                                       </tr>					                                  
						                                    </thead>
						                                    <tbody>
						                                           <tr th:if="${allowances.empty}">
						                                                <td colspan="3">Aucune prestation trouvée...!!!</td>
					                                               </tr>
					                                               <tr th:each="allowance: ${allowances}">
					                                                   <td th:text="${allowance.allowanceId}" class="align-middle"></td>
						                                               <td th:text="${allowance.allowanceName}" class="align-middle"></td>						                                               
						                                               <td class="align-middle">				                                                   
						                                                         <a class="btn btn-info text-align" th:href="@{/editAllowance(id=${allowance.allowanceId},page=${currentPage})}">
						                                                             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
						                                                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						                                                             </svg>
						                                                         </a>					                                                   					                                                   
						                                               </td>
					                                               </tr>
						                                    </tbody>
                                                    </table>
                                                    <div class="container">
                                                          <ul class="nav nav-pills">
                                                               <li th:each="p,status:${pages}" class="btn-sm btn-info ms-1">
                                                                    <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
							                                             th:href="@{/prestations(page=${status.index+1})}"  
							                                             th:text="${status.index+1}">
                                                                    </a>
                                                               </li>
                                                          </ul>
                                                    </div>
                                            </fieldset>
                               </div>
                         </div>
                   </div>
             </div>
      </div>
</body>
</html>