<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz" lang="en"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
     layout:decorate="basic"
>
<head>
<title>Utilisateurs</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex">
            <div class="col-md-10 offset-1">
               <div class="card bg-light mb-3 mt-1">
                  <div class="card-heading bg-primary text-center text-white card-title">utilisateurs</div>
                     <fieldset>
                             <legend>gestion utilisateurs</legend>
                             <table class="table table-bordered text-center sous-liens table-striped">
                                    <thead style="background-color:#ebebeb;">
                                         <tr class="header-footer-background-color text-white">
                                             <th>Nom d'utilidateur</th><th>email</th><th>Status</th><th>Roles</th><th colspan="2">gestion des roles</th>
                                         </tr>
						            </thead>
						            <tbody>
						                 <tr th:if="${users.empty}">
						                      <td colspan="3">Aucun utilisateur trouvée...!!!</td>
					                     </tr>
					                     <tr th:each="user: ${users}">
					                         <td th:text="${user.username}" class="align-middle"></td>
					                         <td th:text="${user.email}" class="align-middle"></td>
					                         <td th:text="${user.active}" class="align-middle"></td>
					                         <td  class="align-middle">
					                             <span th:each="role: ${user.roles}"  th:text="${role.role}" class="ms-2"></span>
					                         </td>
					                         <td  class="align-middle">				                                                   
                                                 <!-- Button trigger modal -->
												<button type="button" class="btn btn-primary" data-toggle="modal" 
												        th:attr="data-target='#exampleModalCenter'+${user.userId}">
												  edit
												</button> <!-- Modal -->
										<div class="modal fade"
											th:id="${'exampleModalCenter'+{user.userId}}" tabindex="-1"
											role="dialog" aria-labelledby="exampleModalCenterTitle"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalCenterTitle">Modal
															title</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">...</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-primary">Save
															changes</button>
													</div>
												</div>
											</div>
										</div>
									</td>
					                     </tr>
                                    </tbody>
                             </table>
                     </fieldset>
               </div>
            </div>
        </div>
    </div>
</body>
</html>