<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz" lang="en"
      layout:decorate="basic"
>
<head>
<title>Update Invoice</title>
</head>
<body>
       <div layout:fragment="content">
                      <div class="d-flex">
                   <div class="col-md-10 offset-1">
                         <div class="card bg-light mb-3 mt-1">
                               <div class="card-heading bg-primary text-center text-white card-title">Modifier facture</div>
                               <div class="card-body">
                                     <form action="" method="post">
                                            <fieldset>
							                    <legend>Info Facture</legend>
							                       <div class="col-md-10 offset-1">
							                          <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="invoiceNumber"  class="form-label">N°:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber">
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <label for="date"  class="form-label">Date:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="date" class="form-control" id="date" name="date">
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <label for="amount"  class="form-label">Montant:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="number" class="form-control" id="amount" name="amount">
							                              </div>
							                        </div>
							                     </div>
                                            </fieldset>
                                            <fieldset class="form-group border p-3 mt-3 mb-2">
                                               <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    <fieldset>
							                            <legend>Prestataire</legend>
							                            <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="taxPayNumber"  class="form-label">Immatriculation:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="text" class="form-control" id="taxPayNumber" name="taxPayNumber">
							                              </div>
							                              
							                             </div>
							                             <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="name"  class="form-label">Raison Sociale:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="text" class="form-control" id="name" name="name">
							                              </div>
							                             </div>
							                             <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="email"  class="form-label">Email:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="email" class="form-control" id="email" name="email">
							                              </div>
							                             </div>
							                             <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="phoneNumber"  class="form-label">Telephone:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
							                              </div>
							                             </div>
							                        </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
							                            <legend>Prestation</legend>
							                            <div class="d-flex flex-row justify-content-center mb-3">
							                              <div class="form-input-margin-right">
							                                  <label for="allowanceName"  class="form-label">Nature Prestation:</label>
							                              </div>
							                              <div class="form-input-margin-right">
							                                  <input type="text" class="form-control" id="allowanceName" name="allowanceName">
							                              </div>
							                             </div>
							                        </fieldset>
                                                </div>
                                               </div>
                                            </fieldset>
                                            <div style="float:right;">
                                                 <button type="submit" class="btn btn-primary rounded">
					                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
														  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
														  <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
														</svg>
													  Mise à jour
                                                 </button>
							                 </div>
                                       </form>
                               </div>
                         </div>
                   </div>
             </div>
       </div>
</body>
</html>